# Ignore build artifacts.
/Build
tags/
.DS_Store
*.pyc
*.bak

# Ignore unused UDK PKGs.
/AppPkg/
/ArmPkg/
/ArmPlatformPkg/
/ArmVirtPkg/
/BeagleBoardPkg/
/Conf/
/CorebootModulePkg/
/CorebootPayloadPkg/
/CryptoPkg/
/DuetPkg/
/EdkCompatibilityPkg/
/EdkShellBinPkg/
/EdkShellPkg/
/EmbeddedPkg/
/EmulatorPkg/
/FatBinPkg/
/FatPkg/
/IntelFrameworkModulePkg/
/IntelFrameworkPkg/
/IntelFsp2Pkg/
/IntelFsp2WrapperPkg/
/IntelFspPkg/
/IntelFspWrapperPkg/
/IntelSiliconPkg/
/Nt32Pkg/
/Omap35xxPkg/
/OptionRomPkg/
/OvmfPkg/
/QuarkPlatformPkg/
/QuarkSocPkg/
/ShellBinPkg/
/ShellPkg/
/SignedCapsulePkg/
/SourceLevelDebugPkg/
/StdLib/
/StdLibPrivateInternalFiles/
/UnixPkg/
/Vlv2DeviceRefCodePkg/
/Vlv2TbltDevicePkg/
