/Build/
.DS_Store
*_extdep/
*.pyc
__pycache__/
tags/
.vscode/
*.bak
BuildConfig.conf
/BaseTools/BaseToolsBuild/

# Ignore cloned dependencies
/Common/TIANO
/Common/MU_TIANO
/Silicon

# Ignore unused UDK PKGs.
/ArmPkg/
/ArmPlatformPkg/
/ArmVirtPkg/
/Conf/
/CryptoPkg/
/DynamicTablesPkg/
/EmbeddedPkg/
/EmulatorPkg/
/FatPkg/
/FmpDevicePkg/
/IntelFsp2Pkg/
/IntelFsp2WrapperPkg/
/OvmfPkg/
/ShellPkg/
/SignedCapsulePkg/
/SourceLevelDebugPkg/
/UefiPayloadPkg/